.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
node_modules/*
src/extract-pdf.js
assets/data/file_goc_thong_tin_ung_ho_tu_01_09_den_10_09_2024.pdf
assets/data/extracted-data.json

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix